# ========================
# Python / Server
# ========================
server/venv/
server/__pycache__/
server/**/__pycache__/
server/*.pyc
server/*.pyo
server/*.pyd
server/.env
server/.env.*
server/dist/
server/build/
server/*.egg-info/
server/.pytest_cache/
server/.mypy_cache/
server/.ruff_cache/
server/htmlcov/
server/.coverage
server/coverage.xml

# ========================
# Geral
# ========================
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace