PSGRE_USER='postgres'
PSGRE_PASSWORD='password'
PSGRE_HOST='localhost'
PSGRE_PORT=5432
PSGRE_DB='gitrics'

GITHUB_CLIENT_ID =
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI = http://localhost:8000/auth/github/callback

# SECRET=

DEBUG=True